body {
	padding: 0;
	margin: 0;
	overflow: hidden;
	font-family: 'Helvetica';
	font-size: 10px;
}

#ui {
	position: absolute;
	bottom: 0;
	background: rgba(255,255,255,0.2);
	padding: 3px;
	color: #fff;
	font-size: 1.5em;

	
}